body {
    height: 100vh;
    display: flex;
    justify-content: flex-start; /* Move os elementos para a esquerda */
    align-items: center;
    background-color: #ffffff;
    padding-left: 5%; /* Ajusta a posição mais para a esquerda */
    flex-direction: column; /* Organiza os elementos verticalmente */
}

.barra {
    position: absolute;
    top: 20px; /* Move a barra de pesquisa para o topo */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row; /* Deixa a barra e o botão na mesma linha */
    gap: 10px;
}

#barrinha {
    width: 250px;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    
}

#trocar-imagem {
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, filter 0.3s ease;
    border: none;
 
}

#trocar-imagem:hover {
    filter: brightness(1.2);
    transition: 0.6s;
    border-radius: 27px;
   
}

.container {
    display: flex;
    flex-direction: column; /* Mantém os elementos empilhados */
    align-items: center;
    gap: 20px;
    margin-top: 80px; /* Adiciona espaço abaixo da barra de pesquisa */
    
}

#imagem1 {
    height: 700px;
    width: auto;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    
}
